<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>        
    <canvas id="canvas">
  	</canvas>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "turbolinks app", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "About", root_path %></li>
            <li><%= link_to "Music", music_path %></li>
            <li><%= link_to "Projects", projects_path %></li>
						<li><%= link_to "Contact", contact_path %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>

  </body>
  <%= javascript_include_tag "glow" %>
</html>
