<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>

    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>      
  
    <!-- Navigation -->
    <div class="contain-to-grid sticky">

      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a class="logo show-for-small-only" href="#"><img src="http://placehold.it/50x50" /></a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">

          <div class="logo-wrapper hide-for-small-only">
            <div class="logo">
              <%= image_tag "sep3.png" %>
            </div>
          </div>

          <!-- Right Nav Section -->
          <ul class="right">
            <li><%= link_to "About", root_path %></li>
            <li><%= link_to "Projects", projects_path %></li>
            <li><%= link_to "Contact", contact_us_path %></li>
          </ul>

          <!-- Left Nav Section -->
          <ul class="left">
            <li class="has-dropdown">
              <a href="#">Theory</a>
              <ul class="dropdown">
                <li><%= link_to "Music", music_path %></li>
              </ul>
            </li>
            <li class="has-dropdown">
              <a href="#">Practice</a>
              <ul class="dropdown">
                <li><%= link_to "Music", music_path %></li>
              </ul>
            </li>
          </ul>

        </section>
      </nav>

    </div><!-- /navigation -->
  
 
	
	<div id="bg" data-turbolinks-permanent>
	<%= video_tag "glow.mp4", :id => 'heroic' ,  :controls => false, :autobuffer => true, :autoplay => true, :loop => true, :id => "hero-video" %>
	</div>
	
	
	
	

	
	<script type="text/javascript" >
	document.getElementById('hero-video').play();
	</script>
	
	
	
	
	
	
	
	
	
    <div class="container">
      <%= yield %>
    </div>

	<div id="c1" data-turbolinks-permanent>
	<%= image_tag "C1.png" %>	
	</div>
	
	<div id="c2" data-turbolinks-permanent>
	<%= image_tag "C2.png" %>	
	</div>
	
	<div id="c3" data-turbolinks-permanent>
	<%= image_tag "C3.png" %>	
	</div>
	
	<div id="c4" data-turbolinks-permanent>
	<%= image_tag "C4.png" %>	
	</div>
	
  </body>
</html>
